<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

<!--    studentName and studentAddress has been injected by using p attribute-->
    <bean class="com.springCore.Student" name="student1" p:studentName="Aniket Shandilya">
        
        <property name="studentId">
            <value>1234</value>
        </property>

        <property name="studentAddress" value="tetri"/>

        <property name="friends">
            <list>
                <value>"Keshav"</value>
                <value>"Chhotu"</value>
                <value>"Mohan"</value>
                <value>"Shivam"</value>
            </list>
        </property>

    </bean>
</beans>
